@import "bootstrap";
@import "bootstrap/theme";
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

$brand: 'Patua One', regular;
$plain: 'Open Sans', sans-serif;

// common stuff

html, body {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

html {
  background: url(../images/back-1.jpg) no-repeat center center fixed;
  // background: url(../images/back-1.jpg) no-repeat center center fixed;
  // background: url(../images/movie-theater-dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
  div.ember-view {
    height: 100%;
  }
}

$light_blue: #70BAFF;
$darker_blue: #2979C4;

// ============ Search page with navbar and filtering =================
@import "search.scss";

// ============= Main page ================
@import "main.scss";

// ========== results cards ==========
@import 'results.scss';


