// =========== search result ============
.search-result-container {
  padding-top: 5em;
  .not-found {
    display: table;
    display: table-cell;
    vertical-align: middle;
    color: #E8E8E8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.panel {
  position: relative;
  //margin-left: 5em;
  //margin-right: 5em;
  //margin-bottom: 25px;
  //border-radius: 10px;
  border: 0;
  box-shadow: none;
}

.panel-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  padding: 10px 15px;
  background-color: #f3f5f6;
  border-top: 1px solid #ddd;
}

.panel-default {
  border-color: #e4e9eb;

  .panel-body {
    padding: 15px;
    border-top: none;
  }
}

//.white-content {
//  color: #768399;
//  background: #fff;
//  background-color: #fff;
//}

.movie-card-panel {
  font-family: $plain;
  background-color: rgba(255, 255, 255, 0.7);

  .movie-tumbs-up {
    text-align: right;
    font-size: 14pt;
    // padding-bottom: 0px;
    color: #79859b;
  }

  .movie-info-btn {
    padding: 0;
    text-align: right;
    font-size: 14pt;
    // padding-bottom: 0px;
    color: #79859b;
  }

  .title {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    @media (max-width: $screen-sm) {
      padding-top: 5pt;
      text-align: center;
    }
  }

  .plot {
    @media (min-width: $screen-md) {
      padding-right: 10pt;
    }
  }

  .movie-poster {
    display: block;
    margin-top: 3pt;
    //border: 1px solid #e7e7e2;
    //border-top-left-radius: 4px;
    //border-top-right-radius: 4px;
    img {
      max-height: 200px;
    }
    @media (min-width: $screen-md) {
      border: 1px solid #e7e7e2;
      border-radius: 4px;
      padding: 2pt;
      //background-color: #bfbfbf;
    }
  }

  .imdb-logo {
    margin-bottom: 1pt;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fill {
  min-height: 100%;
  height: 100%;
}
