{{#if filteredModel}}
  {{#each filteredModel as |movieUnit|}}
    {{movie-card movie=movieUnit}}
  {{/each}}
{{else}}
  {{#bs-modal size="sm" open=showMessage title="Info"}}
    Movies not found
  {{/bs-modal}}
  <div class="not-found">
    <!--<h1>Error</h1>-->
    <h2>Movies not found</h2>
  </div>
{{/if}}