<div class="container">
	<div class="raw">
		<div class="col-lg-8 col-lg-offset-2 search-input-raw">
			<div class="text-center app-logo">
				<label>MovieScope</label>
			</div>
	        <div class="input-group">
				<input type="text" class="form-control" placeholder="Movie description to search">
	            <span class="input-group-btn">
		        	<button class="btn btn-secondary" type="button">Search</button>
		        </span>
	        </div>
	    </div>
	</div>
</div>
